body {
  font-family: 'Helvetica Neue', 'Segoe UI';
}

.wrapper {
  display: flex;
  width: 99%;
  height: 99%;
  flex-flow: row nowrap;
}

.treeMap {
  width: 85%;
  border:1px solid black;
  padding: 10px;
  margin: 2px;
}

.leftPanel {
  width: 15%;
  height: 100%;
  margin: 2px;
}
